In [61]:
#use flights_data for questions #1-7

In [21]:
import zipfile
import os

zip_path = "/Users/taraallred/Downloads/data (1).zip"  
extract_dir = "./data (1)" 

os.makedirs(extract_dir, exist_ok=True)

with zipfile.ZipFile(zip_path, "r") as zip_ref:
    zip_ref.extractall(extract_dir)

In [36]:
import os
os.listdir(extract_dir)

['weather.csv', 'flights.csv']

In [37]:
import pandas as pd
df = pd.read_csv(f"{extract_dir}/weather.csv")
df.head(10)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
5,6,EWR,2013,1.0,1.0,6.0,39.02,26.06,59.37,270.0,10.35702,11.918651,0.0,1012.0,10.0
6,7,EWR,2013,1.0,1.0,7.0,39.02,26.96,61.63,250.0,8.05546,9.270062,0.0,1012.3,10.0
7,8,EWR,2013,1.0,1.0,8.0,39.02,28.04,64.43,240.0,11.50780,13.242946,0.0,1012.5,10.0
8,9,EWR,2013,1.0,1.0,9.0,39.92,28.04,62.21,250.0,12.65858,14.567241,0.0,1012.2,10.0
9,10,EWR,2013,1.0,1.0,10.0,39.02,28.04,64.43,260.0,12.65858,14.567241,0.0,1011.9,10.0

In [38]:
import pandas as pd
df = pd.read_csv(f"{extract_dir}/flights.csv")
df.head(10)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,6,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,7,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,8,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,10,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [40]:
#Question 1 How many flights were there from JFK to SLC? Int
# q_1

num_flights = len(df[(df["origin"] == "JFK") & (df["dest"] == "SLC")])
num_flights

2113

In [43]:
# Question 2 How many airlines fly to SLC? Should be int
# q_2

q_2 = df[df["dest"] == "SLC"]["carrier"].nunique()  # dest filters to SLC and carrier picks airline column and unique is how many airlines
q_2

2

In [45]:
# Question 3 What is the average arrival delay for flights to RDU? float
# q_3

q_3 = df[df["dest"] == "RDU"]["arr_delay"].mean() # This filters flights heading to RDU and calculates the average arrival delay
q_3

np.float64(10.052380952380952)

In [48]:
# Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)? float
# q_4
total_sea = len(df[df["dest"] == "SEA"])
nyc_sea = len(df[(df["dest"] == "SEA") & (df["origin"].isin(["LGA", "JFK"]))]) # flights from LGA/JFK
q_4 = nyc_sea / total_sea
q_4 * 100   # this creates an output as a %

53.326535814427736

In [50]:
# Question 5 Which date has the largest average depature delay? Pd slice with date and float please make date a column. 
# Preferred format is 2013/1/1 (y/m/d)
# q_5

df["date"] = df["year"].astype(str) + "/" + df["month"].astype(str) + "/" + df["day"].astype(str) # correct formatting 

avg_delay_by_date = df.groupby('date')['dep_delay'].mean().reset_index()  # grouped by date and mean departure delay

q_5 = avg_delay_by_date.loc[avg_delay_by_date["dep_delay"].idxmax()] # largest mean delay 
q_5

date          2013/3/8
dep_delay    83.536921
Name: 180, dtype: object

In [52]:
# Question 6 Which date has the largest average arrival delay? pd slice with date and float
# q_6

avg_arr_delay = df.groupby('date')['arr_delay'].mean().reset_index() # filtered by date and average delay 
q_6 = avg_arr_delay.loc[avg_arr_delay["arr_delay"].idxmax()]
q_6

date          2013/3/8
arr_delay    85.862155
Name: 180, dtype: object

In [57]:
# Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
# q_7

df_2013 = df[(df['year'] == 2013) & (df['origin'].isin(['LGA', 'JFK']))] # correct subsets? 

df_2013['speed'] = df_2013['distance'] / (df_2013['air_time'] / 60)  # calculated in mph 

q_7 = df_2013.loc[df_2013['speed'].idxmax(), ['tailnum', 'speed']] #flight with highest speed
q_7

/var/folders/0p/610xzzg53fs7t4n2cx68l17m0000gn/T/ipykernel_13538/123280911.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2013['speed'] = df_2013['distance'] / (df_2013['air_time'] / 60)  # calculated in mph

tailnum        N666DN
speed      703.384615
Name: 216447, dtype: object

In [59]:
# Is this error because its trying to edit something not in the dataframe? 

# I was told to try and run it with .copy? 

df_2013 = df[(df["year"] == 2013) & (df["origin"].isin(["LGA", "JFK"]))].copy()
df_2013["speed"] = (df_2013["distance"] / df_2013["air_time"] / 60)
q_7 = df_2013.loc[df_2013['speed'].idxmax(), ['tailnum', 'speed']] #flight with highest speed
q_7

tailnum      N666DN
speed      0.195385
Name: 216447, dtype: object

In [64]:
# Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
# q_8

import pandas as pd
df = pd.read_csv(f"{extract_dir}/weather.csv")
df.head(10)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
5,6,EWR,2013,1.0,1.0,6.0,39.02,26.06,59.37,270.0,10.35702,11.918651,0.0,1012.0,10.0
6,7,EWR,2013,1.0,1.0,7.0,39.02,26.96,61.63,250.0,8.05546,9.270062,0.0,1012.3,10.0
7,8,EWR,2013,1.0,1.0,8.0,39.02,28.04,64.43,240.0,11.50780,13.242946,0.0,1012.5,10.0
8,9,EWR,2013,1.0,1.0,9.0,39.92,28.04,62.21,250.0,12.65858,14.567241,0.0,1012.2,10.0
9,10,EWR,2013,1.0,1.0,10.0,39.02,28.04,64.43,260.0,12.65858,14.567241,0.0,1011.9,10.0

In [66]:
weather = df
q_8 = weather.fillna(0)
q_8 = weather.fillna(0)
q_8

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [74]:
#%% Numpy Data Filtering/Sorting Question Answering
# Use weather_data_np

# Question 9 How many observations were made in Feburary? Int
# q_9

type(weather_data_np)

numpy.ndarray

In [75]:
weather_data_np.shape

(8719, 15)

In [76]:
weather_data_np[:5]

array([[1, 'EWR', 2013, 1.0, 1.0, 0.0, 37.04, 21.92, 53.97, 230.0,
        10.35702, 11.9186514756, 0.0, 1013.9, 10.0],
       [2, 'EWR', 2013, 1.0, 1.0, 1.0, 37.04, 21.92, 53.97, 230.0,
        13.80936, 15.8915353008, 0.0, 1013.0, 10.0],
       [3, 'EWR', 2013, 1.0, 1.0, 2.0, 37.94, 21.92, 52.09, 230.0,
        12.65858, 14.5672406924, 0.0, 1012.6, 10.0],
       [4, 'EWR', 2013, 1.0, 1.0, 3.0, 37.94, 23.0, 54.51, 230.0,
        13.80936, 15.8915353008, 0.0, 1012.7, 10.0],
       [5, 'EWR', 2013, 1.0, 1.0, 4.0, 37.94, 24.08, 57.04, 240.0,
        14.96014, 17.2158299092, 0.0, 1012.8, 10.0]], dtype=object)

In [81]:
# Numpy array is working 
# Question 9 How many observations were made in Feburary? Int
# q_9

month_idx = weather.columns.get_loc("month")
months = weather_data_np[:, month_idx]
months = months[~pd.isna(months)].astype(float).astype(int)  #Remove NaNs
q_9 = np.sum(months == 2)
q_9

np.int64(671)

In [82]:
#Question 10 What was the mean for humidity in February? Float
# q_10

month_idx = weather.columns.get_loc('month')
humid_idx = weather.columns.get_loc('humid')

mask = weather_data_np[:, month_idx] == 2 # filter for Feb. only 

humid_values = weather_data_np[mask, humid_idx].astype(float) # finding the mean 
q_10 = np.nanmean(humid_values)
q_10

np.float64(62.91815201192251)

In [84]:
# Question 11 What was the std for humidity in February? Float
# q_11

humid_values = weather_data_np[mask, humid_idx].astype(float) # conti. from info above 

q_11 = np.nanstd(humid_values) # switching to std rather than mean 
q_11

np.float64(20.33690087674334)