In [12]:
# Question 1 (15 Points)
# Compute the euclidean distance between series (points) p and q, without using a packaged formula.

# Euclidean distance meaning -- square the differences, sum them, and take the square root

import pandas as pd
import numpy as np

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])   # input *square root --all over (p1−q1)^2 + (p2−q2)^2..... + (p10−q10)^2

# manually enter 
q_1 = np.sqrt(np.sum((p - q)**2))
q_1

np.float64(18.16590212458495)

In [22]:
#Question 2 (15 Points)
#Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [28]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
cols = list(df.columns)
cols[0], cols[2] = cols[2], cols[0]  # c and a swap places leaving everything else alone
df = df[cols]
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [31]:
#Question 3 (15 Points)
#Change the order of columns of a dataframe. Create a generic function to interchange two columns, without
#hardcoding column names.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde')) # lining up correct columns with changed headers 

def swap_columns(dataframe, col1, col2):
    cols = list(dataframe.columns)
    i, j = cols.index(col1), cols.index(col2)
    cols[i], cols[j] = cols[j], cols[i]
    return dataframe[cols]
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [32]:
#Question 4 (15 Points)
#Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and
#print upto 4 numbers after decimal.

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

pd.options.display.float_format = '{:.4f}'.format # get rid of scientific notation. 
df

   random
0  0.0546
1  0.0577
2  0.0000
3  0.0000

In [35]:
#Question 5 (15 Points)
#Create a new column that contains the row number of nearest column by euclidean distance. Create a new column
#such that, each row contains the row number of nearest row-record by euclidean distance.
#Input
#df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),

data = {'A': [45, 37, 0, 42, 50],
'B': [38, 31, 1, 26, 90],
'C': [10, 15, -10, 17, 100],
'D': [60, 99, 15, 23, 56],
'E': [76, 98, -0.03, 78, 90]}

X = df.to_numpy(dtype=float)  
D = np.sqrt(((X[:, None, :] - X[None, :, :]) ** 2).sum(axis=2))

np.fill_diagonal(D, np.inf) # -- ignore self distance 

nearest_idx = D.argmin(axis=1)
nearest_labels = df.index.to_numpy()[nearest_idx]
nearest_dist = D[np.arange(D.shape[0]), nearest_idx]

df["nearest_row"] = nearest_labels
df["dist"] = nearest_dist.round(1)
df

   random  nearest_row   dist
0  0.0546            1 1.0000
1  0.0577            0 1.0000
2  0.0000            3 1.0000
3  0.0000            2 1.0000

In [37]:
#Question 6 (15 Points)
#Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is
#used for creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe.
#Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.

data = {
    'A': [45, 37, 0, 42, 50],
    'B': [38, 31, 1, 26, 90],
    'C': [10, 15, -10, 17, 100],
    'D': [60, 99, 15, 23, 56],
    'E': [76, 98, -0.03, 78, 90]
}

df_corr = pd.DataFrame(data)
correlation_matrix = df_corr.corr()
correlation_matrix

       A      B      C      D      E
A 1.0000 0.7560 0.6244 0.4938 0.9286
B 0.7560 1.0000 0.9667 0.3636 0.6496
C 0.6244 0.9667 1.0000 0.2189 0.5281
D 0.4938 0.3636 0.2189 1.0000 0.7202
E 0.9286 0.6496 0.5281 0.7202 1.0000